		  <!--pospone_step.html-->
			<div id="display" class="jumbotron mt-5" >
				<div id="display1" >
						<h3 class="text my-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
								Nobis dolor molestias, veniam fugit, quos eveniet aliquid Lorem ipsum. Quidem et facere.</h3>
				</div>
			</div>
			<div class="zonabotones mb-2" style="display:flex; flex-direction:column">
				<a data-action="continue" data-step="2"    class="btn btn-primary btn-lg" >Continuar</a><br>
				<a data-action="postpone" data-delay="30" class="btn btn-success btn-lg" >Posposar 5min</a><br>
				<a data-action="postpone" data-delay="600" class="btn btn-success btn-lg" >Posposar 10min</a>
			</div>
			<!--pospone_step.html-->