@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap');


body {
	background-color: white;
}
.dibalogo {
	width: 100%;
	height: 5rem;
}
/* Clases creadas con variables bootstrap */
.orange {
	background-color: var(--orange);
}
.blue {
	background-color: var(--blue);
}
.yellow{
	background-color: var(--yellow);
}
.green{
	background-color: var(--green);
} 
.pink {
	background-color: var(--pink);
}
/* fin clases colores */

.shortname {
	border: 3px solid;
	border-radius: 20px;
	line-height: 3rem;
	text-align: left;
}
.label-login {

	font-size: 1rem;
	font-weight: bold;
	border: 3px solid;
	line-height: 3rem;
	max-width: 	 3.5rem ;
}
.protocol-row {
	background-color: var(--gray-200);
}
.label-protocol {
	line-height: 2rem;
	max-width: 	 2rem;
	border: 2px solid black;
}
.limited {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
ul {
	list-style: none;
}
